/* 
Charte Graphique:
    couleur verte de base= #34C924
    cliquée = #26921A 
    couleur rouge = #DB3A00
    cliquée = 
    Police = Bahnschrift 
*/

@font-face {
    font-family: "BSC";
    src: url("BAHNSCHRIFT.TTF") format("truetype");
}

body{
    font-family: "BSC";
}

main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('admin.png');
    background-size: cover;
    opacity: 0.1;
    z-index: -10;
}

nav {
    z-index: 10;
}

button{
    background: #34C924 !important;
    color: white !important;
}

button:hover{
    opacity: 0.6;
}

button:active{
    background: #26921A !important;
}

a{
    color: #34C924;
}

a:hover{
    color: rgba(52, 201, 36, 0.5) !important;
}

a:active{
    color: #26921A;
}

/* Style du bouton dynamique dans page Structure */
.submitperm{
    background:#34C924 !important;
    display:none;
}

.submitperm:hover{
    background: rgba(52, 201, 36, 0.5) !important;
}

.submitperm:active{
    background: #26921A !important;
}

/* Style du bouton dynamique dans page Partenaire */
.submitactive{
    background:#34C924 !important;
    display:none;
}

.submitactive:hover{
    background: rgba(52, 201, 36, 0.5) !important;
}

.submitactive:active{
    background: #26921A !important;
}